{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | Chinai</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ani-coder-hacker/chinai-resources/blog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="header">
      <div class="header-text grid-item">
        <p><a href="/">CHINAI</a></p>
      </div>

      {% if user.is_superuser %}

        <div class="header-items item-extra grid-item">
          <a href="/about"><p>About</p></a>
        </div>
        <div class="header-items item1 grid-item">
          <a href="/posts"><p>Posts</p></a>
        </div>
        <div class="header-items item2 grid-item">
          <a href="/admin"><p>Admin</p></a>
        </div>
        <div class="header-items item3 grid-item">
          <a href="/admin/logout"><p>Logout</p></a>
        </div>
      {% else %}
        <div class="header-items item1 grid-item">
          <a href="/about"><p>About</p></a>
        </div>
        <div class="header-items item2 grid-item">
          <a href="/posts"><p>Posts</a></p>
        </div>
        <div class="header-items item3 grid-item">
          <p><a href="/admin/login">Login</a></p>
        </div>
      {% endif %}
    </div>



    {% block body %}

    {% endblock %}

    <div class="footer">
      <div class="left-upper-footer grid-item">
        <p>&copy; Sardar Patel Vidyalaya. <br><br>All content on this website belongs to the mentioned student authors.<br> All posts contain original works.</p>
      </div>
      <div class="right-upper-footer grid-item">
          <img src="https://cdn.jsdelivr.net/gh/ani-coder-hacker/chinai-resources/chakra.png" alt="Chakra">
      </div>
      <div class="bottom-footer">
        <p>All work is licensed under a
          <a rel="license" style="color:#00ff00;" class="nombore" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <span>
              Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.
            </span>
            <span class="slider sliderGreen">
            </span>
          </a>
        </p>
      </div>
    </div>


  </body>
</html>
