{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block body %}

<div class="mt-4 mb-6 py-6 flex">
  <div class="w-1/6"></div>

  <div class="w-4/6 sm:text-justify">
    <img src="https://static.wixstatic.com/media/347b4f_572007485d2a476e845b1eed08064412~mv2.jpeg/v1/fill/w_518,h_688,al_c,lg_1,q_80/WhatsApp%20Image%202020-03-05%20at%2012_07_53%20AM.webp" class="my-4 mx-auto" style="opacity:1;">
    <center>
      <h1 class="heading-text font-black text-5xl sm:text-6xl mx-auto">About</h1>
    </center>

    <p class="text text-xl text-gray-800 mt-6">
      Chinai. Just the word evokes so many memories for us. Each issue brought with it a journey of emotions. Since our earliest years at the Vidyalaya the Chinai has been intricately connected to us as it's associated with a large variety of emotions. The excitement of receiving a copy, the pride at finding our names in it, the disappointment of not seeing our names or the hope of having our writing published in the next issue. All these are emotions that we associate with the Chinai. As a result its absence over the last few years has been felt intensely by all who know and remember it. Now after some long years of its absence we can finally bring it back but this time in a different manner.<br>
      As people and nations across the world realise the importance of protecting the environment and saving precious resources, we too have understood the importance of conservation. In this view, the Chinai has now been made digital to save paper and the various other resources that would have been used in producing its physical copies. This is an important step for the Vidyalaya since the value of nature conservation is deeply ingrained in its philosophy. Now in the form of a blog, the magazine can be accessed with greater ease, anywhere. There is also the possibility of more frequent updates rather than the system of one issue per year. Now, the joy and excitement of finding your poem or article in the Chinai can be felt more often. The digital Chinai will accommodate more colour and many new forms of media like memes, photographs, and much more.<br>
      The journey from physical to digital has been long and at some stages, challenging. From finding a platform to customising the selected platform, each step has posed its own issues and difficulties but the people around us have supported us throughout, and with their support we have been able to overcome each obstacle. This journey, despite involving so many challenges, has not been without its joys. The experience of overcoming each obstacle has been intensely rewarding. Now, looking at the completed product makes all the hard work seem worthwhile.<br>
      We are conscious that we are releasing this at a time when the entire world is going through an unprecedented upheaval. What kicked off as a medical emergency, has become a global crisis whose implications are yet to be fully realised. Our lives have been impacted in almost every aspect. At the macro levels of global and national economies but also at our individual levels, changing how we live our day to day lives, what we eat, how we study, how we relax. sundry<br>
      We are surrounded with speculations, fear, anxiety. But the last gift of Pandora’s jar, hope, has not been lost yet.
      So, we bring back to you, the Chinai, adapting to the modern times, presented to you in a digital medium, with a few digital illustrations as well but nonetheless retaining its essence as a magazine of authenticity, by Patelians for Patelians.<br>
      Signing off with a poem by Matthew Arnold entitled ‘Dover Beach’ with the conviction that love, camaraderie and compassion will help us sail through even these tough times.<br>
    </p>
    <p class="text text-xl text-gray-800 mt-2 text-center">
      The sea is calm tonight.<br>

      The tide is full, the moon lies fair<br>

      Upon the straits; on the French coast the light<br>

      Gleams and is gone; the cliffs of England stand,<br>

      Glimmering and vast, out in the tranquil bay.<br>

      Come to the window, sweet is the night-air!<br>

      Only, from the long line of spray<br>

      Where the sea meets the moon-blanched land,<br>

      Listen! you hear the grating roar<br>

      Of pebbles which the waves draw back, and fling,<br>

      At their return, up the high strand,<br>

      Begin, and cease, and then again begin,<br>

      With tremulous cadence slow, and bring<br>

      The eternal note of sadness in.<br>
<br>


      Sophocles long ago<br>

      Heard it on the Ægean, and it brought<br>

      Into his mind the turbid ebb and flow<br>

      Of human misery; we<br>

      Find also in the sound a thought,<br>

      Hearing it by this distant northern sea.<br>
<br>


      The Sea of Faith<br>

      Was once, too, at the full, and round earth’s shore<br>

      Lay like the folds of a bright girdle furled.<br>

      But now I only hear<br>

      Its melancholy, long, withdrawing roar,<br>

      Retreating, to the breath<br>

      Of the night-wind, down the vast edges drear<br>

      And naked shingles of the world.<br>
<br>


      Ah, love, let us be true<br>

      To one another! for the world, which seems<br>

      To lie before us like a land of dreams,<br>

      So various, so beautiful, so new,<br>

      Hath really neither joy, nor love, nor light,<br>

      Nor certitude, nor peace, nor help for pain;<br>

      And we are here as on a darkling plain<br>

      Swept with confused alarms of struggle and flight,<br>

      Where ignorant armies clash by night.
    </p>
  </div>

  <div class="w-1/6"></div>

</div>


{% endblock %}
