{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="main-content">
  <div class="main-heading">
    <p>Recent Posts</p>
  </div>
  {% for x in posts %}
  <a href="{% url 'post_detail' pk=x.pk %}">
    <div class="content-cards">
      <div class="content">
        <p>
          <span class="nombore">
            <span class="content-cards-heading">
              {{x.title}}
            </span>
            <span class="slider sliderRust">
            </span>
          </span>
        </p>
        <p class="content-byline">{{ x.byline }}</p>
        <p> <b>{{ x.author }}, Batch of {{x.batch}}</b>, on {{x.published_date.date}} </p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

<div class="following-content">
  {{number_of_posts}} posts, <a href="/posts" class="nombore"><span>Read More.</span><span class="slider sliderBlue"></span></a>
</div>

<div class="wrapper categories">
  <div class="categories-heading"><h1>Explore</h1></div>
  <div class="categories-card">
    <div class="categories-card-content">
      <a href="/cat/dr" class="nombore"><span>Description</span><span class="slider sliderRust"></span></a>
    </div>
  </div>
  <div class="categories-card">
    <div class="categories-card-content">
    <a href="/cat/na" class="nombore"><span>Nature</span><span class="slider sliderRust"></span></a>
    </div>
  </div>
  <div class="categories-card">
    <div class="categories-card-content">
    <a href="/cat/th" class="nombore"><span>Threshold</span><span class="slider sliderRust"></span></a>
    </div>
  </div>
  <div class="categories-card">
    <div class="categories-card-content">
      <a href="/cat/pe" class="nombore"><span>Experiences</span><span class="slider sliderRust"></span></a>
    </div>
  </div>
  <div class="categories-card">
    <div class="categories-card-content">
    <a href="/cat/sc" class="nombore"><span>School</span><span class="slider sliderRust"></span></a>
    </div>
  </div>
</div>
{% endblock %}
