{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="main-content">
  <div class="main-heading">
    <p>Recent Posts</p>
  </div>
  {% for x in posts %}
  <div class="content-cards">
    <div class="content">
      <h1 class="content-heading">{{x.title}}</h1>
      <p class="content-byline">{{ x.byline }}</p>
      <p> <b>{{ x.author }}, Batch of {{x.batch}}</b>, on {{x.published_date.date}} </p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="following-content">
  {{number_of_posts}} posts, <a href="/posts">Read More.</a>
</div>

<div class="wrapper categories">
  <div class="categories-heading"><h1>Explore</h1></div>
  <div class="categories-card">
    <div class="categories-card-content">
    <p>Description</p>
    </div>
  </div>
  <div class="categories-card">
    <div class="categories-card-content">
    <p>Nature</p>
    </div>
  </div>
  <div class="categories-card">
    <div class="categories-card-content">
    <p>Threshold</p>
    </div>
  </div>
  <div class="categories-card">
    <div class="categories-card-content">
      <p>Experiences</p>
    </div>
  </div>
  <div class="categories-card">
    <div class="categories-card-content">
    <p>School</p>
    </div>
  </div>
</div>
{% endblock %}
