{% extends 'base.html' %}

{% block title %}  From the Principal's Desk {% endblock %}

{% block body %}

<div class="mt-4 mb-6 py-6 flex">
  <div class="w-1/6"></div>

  <div class="w-4/6 sm:text-justify">
    <img src="https://static.wixstatic.com/media/347b4f_3982488e3a8840f28779ec10aacbfd4e~mv2.jpg/v1/fill/w_382,h_159,al_c,lg_1,q_80/IMG_0639.webp" class="my-10 mx-auto" style="opacity:1;">
    <h1 class="heading-text font-black text-5xl sm:text-6xl">From the Principal's Desk</h1>

    <p class="text text-xl text-gray-900 mt-6">
      People who study human evolution speak of storytelling as being of primary importance to human existence. We do know that it is common to all known cultures. Stories form a symbiotic exchange between teller and listener. All of us have heard tales recounted in our early years. Stories told to us by family and friends become the natural archive of our lives and the repository of unending memories.<br>
      Each one of us has so many stories to tell. Stories of our past and present. Stories of our friends and families. Stories of our wins and losses and when we listen carefully to each of these stories and reflect upon them; there is so much learning that is exhumed from it. There is sharing and bonding. The key however is intuitive listening or reading with comprehension and contemplation. The investing of ourselves in these stories is crucial as the act of remembering is woven into the art of storytelling. Stories tell us who we are and what we can become. The stories of our childhood, stories of today or the events of the morning; all these gathered over a period of time become our social history, knit into our collective memory –as individuals and as a nation. Our stories speak of our joys of years, our fears and our hopes.<br>
      They have such an impact on our lives that at times our lives mirror the stories that we have written.
      In sports for example, you could narrate the story like a commentary in real time or the story of the sport can be chronicled as history or maybe the story of the sport can be told through the lens of the player. A single event can lead to a yarn of stories, each more diverse than the other.<br>
      With time, our methods of storytelling have changed drastically and new ways have come into the telling of stories and its presentation. We, at Sardar Patel Vidyalaya, are proud to have moved to presenting our stories in the first e version. With time our stories will now be collections in an e-book. Am I of the old world and do I still hanker for paper, lost in the exquisite smell of it and spread my fingers lovingly over every page savouring words written or do I read these stories on a convenient device? Can we savour conversations over paragraphs and communicate our appreciation to many simultaneously? This in itself will become another story. A story for another time. We hope you enjoy the new version of our beloved Chinai and that it brings you much joy to savour each carefully crafted story.<br>
      <br><br>
      Anuradha Joshi
      <br>
      Principal
    </p>
  </div>

  <div class="w-1/6"></div>

</div>


{% endblock %}
